<script type = "text/javascript" src = "/assets/themes/Snail/js/function_about.js"></script>
<link rel="stylesheet" type="text/css" href="/assets/themes/Snail/css/about_code.css" />
<div class="large-page-title">
	<h1>{{ page.title }}</h1>
</div>
<p>
<p>
<p>
<div id = "code">
    <ul style="list-style:none;margin:0px; ">
        <li style="float:left;"><a><img src="/img/Wubin.png"  alt="My Avatar" width="200"/></a></li>
        <li style="float:left;"><a>
            <table border="0" width="450">
            <tr>
            <td width="100">Name: </td>
            <td width="350">Wubin</td>
            </tr>
            <tr>
            <td width="100">Education: </td>
            <td width="350">Undergraduate: Majored in Communication Engineering in Huazhong University of Science and Technology<br />Master: Majored in Computer Systems Organization in University of Chinese Academy of Sciences</td>
            </tr>
            <tr>
            <td width="100">Skills: </td>
            <td width="350">C/C++/Objective C/Python/PHP/MySQL/iOS/Data Mining/Distributed Database</td>
            </tr>
            <tr>
            <td width="100">Hobby: </td>
            <td width="350">Coding/Reading/Football/Badminton/Table Tennis
            </tr>
            </table></a></li>
    </ul>
</div>
