<script type = "text/javascript" src = "/assets/themes/Snail/js/function_about.js"></script>
<link rel="stylesheet" type="text/css" href="/assets/themes/Snail/css/about_code.css" />
<div class="large-page-title">
	<h1>{{ page.title }}</h1>
</div>
<br />
<br />
<br />
<div>
    <ul style="list-style:none;margin:0px; ">
        <li style="float:left;">
            <img src="/img/Wubin.png"  alt="My Avatar" width="250"/>
        </li>
        <li>
            <div width="20">
                
            </div>
        </li>
        <li style="float:left;">
            <table border="0" width="480" id="code">
            <tr>
            <td width="120" class="b">Name: </td>
            <td width="360">Wubin</td>
            </tr>
            <tr>
            <td width="120" class="b">Education: </td>
            <td width="360"><span class="u">Undergraduate: </span>Majored in Communication Engineering in Huazhong University of Science and Technology<br /><span class="u">Master: </span>Majored in Computer Systems Organization in University of Chinese Academy of Sciences</td>
            </tr>
            <tr>
            <td width="120" class="b">Skills: </td>
            <td width="360"><span class="u">C</span>/<span class="u">C++</span>/<span class="u">Objective C</span>/<span class="u">Python</span>/<span class="u">PHP</span>/<span class="u">MySQL</span>/<span class="u">iOS</span>/<span class="u">Data Mining</span>/<span class="u">Distributed Database</span></td>
            </tr>
            <tr>
            <td width="120" class="b">Hobby: </td>
            <td width="360">Coding/Reading/Football/Badminton/Table Tennis
            </tr>
            <tr>
                <td width="120" class="b">Contacts: </td>
                <td width="360"><span class="string">Email: </span><a href="wubin2013@ict.ac.cn">wubin2013@ict.ac.cn</a><br />
                                <span class="string">GitHub: </span><a href="http://github.com/wubin91">http://github.com/wubin91</a><br />
                                <span class="string">LinkIn: </span><a herf="https://www.linkedin.com/pub/斌-吴/94/248/564">https://www.linkedin.com/pub/斌-吴/94/248/564</a><br />
                                <span class="string">Weibo: </span><a herf="http://weibo.com/2012204084">http://weibo.com/2012204084</a><br />
                </td>
            </tr>
            </table>
        </li>
    </ul>
</div>
