<script type = "text/javascript" src = "/assets/themes/Snail/js/function_about.js"></script>
<link rel="stylesheet" type="text/css" href="/assets/themes/Snail/css/about_code.css" />
<div class="large-page-title">
	<h1>{{ page.title }}</h1>
</div>
<p>
<p>
<p>
<div id = "code">
    <ul style="list-style:none;margin:0px; ">
        <li style="float:left;">
            <p>
            <p>
            <p>
            <img src="/img/Wubin.png"  alt="My Avatar" width="200"/></li>
        <li style="float:left;">
            <table border="0" width="480">
            <tr>
            <td width="120" class="b">Name: </td>
            <td width="360">Wubin</td>
            </tr>
            <tr>
            <td width="120" class="b">Education: </td>
            <td width="360"><span class="u">Undergraduate: </span>Majored in Communication Engineering in Huazhong University of Science and Technology<br /><span class="u">Master: </span>Majored in Computer Systems Organization in University of Chinese Academy of Sciences</td>
            </tr>
            <tr>
            <td width="120" class="b">Skills: </td>
            <td width="360">C/C++/Objective C/Python/PHP/MySQL/iOS/Data Mining/Distributed Database</td>
            </tr>
            <tr>
            <td width="120" class="b">Hobby: </td>
            <td width="360">Coding/Reading/Football/Badminton/Table Tennis
            </tr>
            <tr>
                <td width="120" class="b">Contacts: </td>
                <td width="360"><span class="string">Email: </span>wubin2013@ict.ac.cn<br />
                                <span class="string">GitHub: </span>http://github.com/wubin91<br />
                                <span class="string">LinkIn: </span>https://www.linkedin.com/pub/斌-吴/94/248/564<br />
                                <span class="string">Weibo </span>http://weibo.com/2012204084<br />
                </td>
            </tr>
            </table>
        </li>
    </ul>
</div>
